<?xml version="1.0" encoding="utf-8"?>
<!-- GECICI QA: yalnizca debug derlemesi. Oyunlastirma ekranlarini sahte veriyle gosterir. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".GamePreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication" />
    </application>
</manifest>
